
form {
 margin:auto;
 background-color:#EBEBEB;
}

.titre {
 font-weight:bold;
 font-size:30px;
 text-align:center;
 margin-bottom:20px;
 color:#34393E;
}

fieldset {
 padding:20px;
 margin-bottom:10px;
 }
 
 fieldset.sansBordure {
  padding:5px;
  border-style:none;
 }
 
legend {
 color:#a0522d;
 font-weight:bold
 }
 
label {
 width:160px;
 display:block;
 float:left;
 }
 
label.enligne {
 display:inline;
 float:none;
 }
 
input {
 border:1px solid black;
 background-color:#A6BEDE;
 margin-bottom:15px;
  }
 input[type=text],input[type=password] {
   width:200px;
  }
  
 input[type=submit] {
 width:200px;
 height : 30px;
 font-size:13px;
 font-weight:bold;
 margin-top:20px;
  }