body
{
    width:1000px; 
    height:800px;
    margin:auto; /* Pour centrer verticalement la page*/
    margin-top:20px; /* Pour éviter de coller avec le haut de la fenêtre du navigateur.*/
    margin-bottom:20px;	/* Idem pour le bas du navigateur */  
    background-color: rgb(243 243 243);
    overflow:hidden;/*cacher la barre de défilement*/
}
/* Header */
header {
    height: 80px;
    border:   solid 1px lightslategray;    
    background-color: lightslategray;
    color: white;
}
header h1{ display:inline-block; vertical-align:top;}
header img{display:inline-block;padding:20px;vertical-align:top;}

/* Navigation : menus */

nav{display:inline-block;}

nav#menu_haut{padding: 20px;  }
nav#menu_haut ul{ list-style-type: none; font-weight: bold;}
nav#menu_haut ul li{display:inline-block;}
nav#menu_haut ul li a{text-decoration: none; color:#fff; padding:0 15px;}
nav#menu_haut ul li a.actif,nav#menu_haut ul li a:hover{ background:#fff; color:#8b0000;}

nav#menu_gauche
{
    width:200px;
    border: solid 1px #DEDEDE;
    vertical-align: top;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding-top: 2px;
}

nav#menu_gauche h1 {text-align: center;color:white;background-color: lightslategray;}
nav#menu_gauche ul{ list-style-type: none; font-weight: bold;}
nav#menu_gauche ul li a{text-decoration: none; color:black;padding:0 15px;}
nav#menu_gauche ul li a.active,nav#menu_gauche ul li a:hover{ background:lightslategray; color:#fff; }

/* Section : partie principale */
section
{
    display:inline-block;
    width:730px;
    height:42%;
    vertical-align:top;
    overflow:auto;/*barre de défilement si nécessaire*/
    padding:20px;
    background-color:white;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
}

section.panier a.commander{display: block;margin-top: 40px;}
section.panier a.viderPanier{text-decoration:underline;color:darkred;cursor: pointer;}

img{border:none;}

article{padding: 30px;
        border-bottom-style: inset;
}

aside{display:inline-block;
      vertical-align: top;                     
}
aside h1{
    color:lightslategray;    
    font-size: 18pt;
    display: inline;
}

aside a {vertical-align: middle;}

article img{padding-right: 60px;width: 150px;}

section.panier article{padding:10px;border-style: none;}
section.panier article img{width:50px;}
section.panier article p{display: inline-block;vertical-align: top; width: 250px;}


footer nav{background-color:#EBEBEB; border:solid 1px #DEDEDE;width:100%;}
footer p{color:#7B7B7B;text-align: right;font-size: 0.9em;font-style: italic;}


nav#menu_bas ul li{display:inline-block;}
nav#menu_bas ul li a{text-decoration:none;color:#7B7B7B;cursor: pointer; padding:0 15px;}
nav#menu_bas ul li a.actif,footer ul li a:hover{ color:#000;}

a#resumePanier{display: block;text-decoration:none;color:darkred;cursor: pointer;padding-bottom: 10px;padding-left: 50px;}

.message{color: darkred;}